      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>exec-maven-plugin</artifactId>
        <version>{{ver}}</version>
        <configuration>
          <mainClass>{{mainClass}}</mainClass>
        </configuration>
      </plugin>